input[type="button"]
{
border-radius: 15px;
background-color:	#4B0082;
color:white;
border-color:black ;
width:100%;
height: 100%;
cursor:pointer;
}
input[type="text"]
{
border-radius: 15px;
text-align: right;
background-color:black;
color: white;
border-color: white;
width:100%;
height: 100%;
}
table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 45%;
    height: 50%;
    border-collapse: collapse;
}
table input{
    font-size: 45px;
}
input[type="button"]:hover{
    font-weight:bold;
    /* font-size:50px; */
    color: #B314DB;
    background-color: orange;
}